<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.pranay.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Rockstar Pranay</name>

  <description>
      Pranay is a Rockstar
  </description>

  <author href="none" email="yohanshrivastava@gmail.com">
      Yohan Shrivastava
  </author>
 
  <icon src="icon.png" />

</widget>